<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="bootstrap.php" timeoutForSmallTests="900"
		timeoutForMediumTests="900" timeoutForLargeTests="900"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd">
	<!--
	SPDX-FileCopyrightText: Petros Koutsolampros <commits@pklampros.io>
	SPDX-License-Identifier: AGPL-3.0-or-later
	-->
	<coverage>
		<include>
			<directory suffix=".php">../appinfo</directory>
			<directory suffix=".php">../lib</directory>
		</include>
		<report>
			<clover outputFile="./clover.xml"/>
		</report>
  	</coverage>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">./Unit/</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory suffix="Test.php">./Integration/</directory>
		</testsuite>
	</testsuites>
	<!-- filters for code coverage -->
	<logging>
		<!-- and this is where your report will be written -->
	</logging>
</phpunit>